{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">Construction Industry Scheme (CIS)
     
    </h2>
 

    <div class="tab-block govuk-!-padding-bottom-4">
      <div class="tab-tran">
        {{govukTag({
          text: "Guidance",
          classes: "govuk-tag--green"
        })}}
      </div>
      <div class="govuk-body">
        <a href="https://www.gov.uk/government/publications/construction-industry-scheme-cis-340" class="govuk-link govuk-link--no-visited-state">Construction Industry Scheme: CIS 340</a>
      </div>
    </div>


    <div class="container govuk-!-padding-bottom-4">
      <div class="tab-tran2">
      </div>
      <div class="tab-tran">
        {{govukTag({
          text: "Task",
          classes: "govuk-tag--grey"
        })}}
      </div>
      <div class="tab-text">
        <a href="https://www.gov.uk/pay-construction-industry-scheme-cis-late-filing-penalty" class="govuk-link govuk-link--no-visited-state">Pay a Construction Industry Scheme (CIS) late filing penalty</a>
      </div>
    </div>


    <div class="container govuk-!-padding-bottom-1">

      <div class="tab-tran2">
      </div>
      <div class="tab-tran">
        {{govukTag({
          text: "Task",
          classes: "govuk-tag--grey"
        })}}
      </div>
      <div class="tab-text">
        <a href="https://www.gov.uk/guidance/claim-a-refund-of-construction-industry-scheme-deductions-if-youre-a-limited-company" class="govuk-link govuk-link--no-visited-state">Claim a refund of Construction Industry Scheme deductions if you're a limited company or an agent</a>
      </div>
    </div>

    

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            
  
</div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Heading goes here
      </h1>



      <p>
        This is a paragraph of text. It explains in more detail what has happened and wraps across several lines.
      </p>

      <p>
        Read more <a href="/path/of/page">about this topic</a>.
      </p>


      




      
      <div class="container govuk-!-padding-bottom-2">
        <div class="tab-tran">
          {{govukTag({
            text: "Transaction",
            classes: "govuk-tag--grey"
          })}}
        </div>
        <div class="container">
          <a href="#" class="govuk-link govuk-link--no-visited-state">Company Tax ReturnsCompany Tax ReturnsCompany Tax ReturnsCompany Tax Returns</a>
        </div>
      </div> 

      <div class="tab-block govuk-!-padding-bottom-2">
        <div class="tab-tran">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{govukTag({
            text: "Guide",
            classes: "govuk-tag--grey"
          })}}
        </div>
        <div class="tab-text">
          <a href="#" class="govuk-link govuk-link--no-visited-state">Company Tax Returns</a>
        </div>
      </div> 

      <div class="govuk-grid-row govuk-!-display-inline">
        <div class="tab">
          {{govukTag({
            text: "Guide",
            classes: "govuk-tag--grey"
          })}}
        </div>
        <div class="govuk-grid-column-two-thirds">
          <a href="#" class="govuk-link govuk-link--no-visited-state">Company Tax Returns</a>
        </div>
      </div>

      <div class="govuk-body">
        <div class="container">
          {{govukTag({
            text: "Transaction",
            classes: "govuk-tag--green"
          })}} 
        </div>
        <div class="container">
        <a href="#" class="govuk-link govuk-link--no-visited-state">File your accounts and Company Tax Return</a>
      </div>
        
      </div>

      
      <p class="govuk-body">
        {{govukTag({
          text: "Transaction",
          classes: "govuk-tag--green"
        })}} <a href="#" class="govuk-link govuk-link--no-visited-state">File your accounts and Company Tax Return</a>
      </p>

    </div>
  </div>

{% endblock %}
