{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   
    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}
  

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-m">Iterations</h2>

    <div class="flow-block">
      <h3 class="govuk-heading-m">V2 - Prototype</h3>
    <ol class="govuk-list govuk-list--number">
      <li><p><a href="L1-Business.html" id="page-list"><!---Level 1 Business page---> Desktop</a></p></li>
      <!---<li><p><a href="L2-Business-tax.html" id="page-list">Level 2 Business tax page</a></p></li>
      <li><p><a href="L2-Patents.html"page-list">Level 2 Business Patents page</a></p></li>--->
      <li><p><a href="L1-Business-mobile.html"id="page-list">Mobile</a></p></li>


      </ol>
    </div>

  <hr></hr>

    <h2 class="govuk-heading-m">Prototypes experiments</h2>
    <div class="flow-block">
    <h3 class="govuk-heading-m">?</h3>

    <ol class="govuk-list govuk-list--number">
    <li><p><a href="https://www.figma.com/proto/eCa6zosj5TOSSjTZxVGEFR/Business-wireframes?page-id=747%3A2692&type=design&node-id=755-3382&viewport=-162%2C724%2C0.22&t=v70WPga9S5UF4zy6-1&scaling=min-zoom&starting-point-node-id=755%3A3382&show-proto-sidebar=1&mode=design" id="page-list">Filtering system</a></p></li>
    <li><p><a href="/Conponent-test" id="page-list">Conponent-test</a></p></li>
  </ol>
</div>


  </div>
  </div>
</div>

{% endblock %}
