{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block main %}
      <div class="big-header-block">
        
        <div class="govuk-width-container">
    
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body white-link"><a href="#">Home</a></p>
                <h1 class="govuk-heading-xl">Business and self-employed</h1>

                <p class=""govuk-body-l">Tools and guidance for businesses
                </p>
            
          </main>
        </div>
      </div>
      
    
    </div>
  </div>
  <div class="eligibility-calc-block-2">
        
    <div class="govuk-width-container">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds spacer-1 spacer-2">
            <h2 class="govuk-heading-m">Find financial support
                <strong class="govuk-tag">
                    New
                  </strong>
            </h2>
                <p class="govuk-body">Answer some brief questions to see what you’re entitled to</p>
                      </div>
                    </div>
    </div>
  </div>
  

  </div>
</div>
</div>
</div>
</div>
    


  <div class="govuk-width-container">
    <div class="body-block">
      <div class="govuk-grid-row">
            <div class="govuk-grid-column-full-width padding-top: govuk-spacing(30);">
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                    <div class="card">
                    <h2 class="govuk-heading-s"><a href="#">Setting up a business</a></h2>
                    <p class="govuk-body-s">
                      Includes self-employed and starting a business.
                    </p>
                  </div>
                  </div>
                  <div class="govuk-grid-column-one-third">
                    <div class="card">
                    <h2 class="govuk-heading-s"><a href="L2-Business-tax.html">Business tax</a> </h2>
                    <p class="govuk-body-s">
                      Includes Corporation tax, Capital gains tax, Construction Industry Scheme (CIS) and VAT.
                    </p>
                    </div>
                </div>
                    <div class="govuk-grid-column-one-third">
                        <div class="card">
                        <h2 class="govuk-heading-s"><a href="#">Business finance and support</a></h2>
                        <p class="govuk-body-s">
                          Finding finance, business support, writing a business plan.
            
                      </p>
                      </div>
                  </div>            
                </div>
             </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full-width padding-top: govuk-spacing(30);">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <div class="card">
                <h2 class="govuk-heading-s"><a href="#">Running a limited company</a></h2>
                <p class="govuk-body-s">
                    Includes registering, setting up, company accounts and tax returns.</p>
              </div>
              </div>
              <div class="govuk-grid-column-one-third">
                <div class="card">
                <h2 class="govuk-heading-s"><a href="#">Expenses and employee benefits</a> </h2>
                <p class="govuk-body-s">
                    Includes company cars and paying tax on employee benefits.                </p>
                </div>
            </div>
                <div class="govuk-grid-column-one-third">
                    <div class="card">
                    <h2 class="govuk-heading-s"><a href="#">Business debt and bankruptcy</a></h2>
                    <p class="govuk-body-s">
                        Includes bankruptcy, insolvency and recovering debt.
                  </p>
                  </div>
              </div>            
            </div>
         </div>
      </div>

      <div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width padding-top: govuk-spacing(30);">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <div class="card">
          <h2 class="govuk-heading-s"><a href="#">Business premises and business rates</a></h2>
          <p class="govuk-body-s">
              Includes business rates, leases, renting, planning permission, waste, and energy certificates.</p>
        </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="card">
          <h2 class="govuk-heading-s"><a href="#">Food, catering and retail</a> </h2>
          <p class="govuk-body-s">
              Labelling and handling food, transporting, food safety.                </p>
          </div>
      </div>
          <div class="govuk-grid-column-one-third">
              <div class="card">
              <h2 class="govuk-heading-s"><a href="#">Importing</a></h2>
              <p class="govuk-body-s">
                  HIncludes moving goods in the EU and commodity codes.
            </p>
            </div>
        </div>            
      </div>
   </div>
      </div>

      <div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width padding-top: govuk-spacing(30);">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <div class="card">
          <h2 class="govuk-heading-s"><a href="#">Exporting and doing business abroad</a></h2>
          <p class="govuk-body-s">
              HIncludes moving goods in the EU and commodity codes.</p>
        </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="card">
          <h2 class="govuk-heading-s"><a href="#">Licences and licence applications</a> </h2>
          <p class="govuk-body-s">
              Applying for licences for events and businesses.                </p>
          </div>
      </div>
          <div class="govuk-grid-column-one-third">
              <div class="card">
              <h2 class="govuk-heading-s"><a href="#">Selling your business and closing down</a></h2>
              <p class="govuk-body-s">
                  Stopping self-employment, winding up or liquidating a limited company.
            </p>
            </div>
        </div>            
      </div>
   </div>
      </div>

      <div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width padding-top: govuk-spacing(30);">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <div class="card">
          <h2 class="govuk-heading-s"><a href="#">Sale of goods and services and data protection</a></h2>
          <p class="govuk-body-s">
              Includes regulations for online retailers, offering credit and Trading Standards.</p>
        </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="card">
          <h2 class="govuk-heading-s"><a href="#">Childcare providers</a> </h2>
          <p class="govuk-body-s">
              Includes registering as a childcare provider.                </p>
          </div>
      </div>
          <div class="govuk-grid-column-one-third">
              <div class="card">
              <h2 class="govuk-heading-s"><a href="#">Manufacturing</a></h2>
              <p class="govuk-body-s">
                  Managing waste, health and safety, regulations.
            </p>
            </div>
        </div>            
      </div>
   </div>
      </div>

      <div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width padding-top: govuk-spacing(30);">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <div class="card">
          <h2 class="govuk-heading-s"><a href="#">Patents, trade marks, copyright and designs</a></h2>
          <p class="govuk-body-s">
              Includes registering, protecting and applying for designs and patents.</p>
        </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="card">
          <h2 class="govuk-heading-s"><a href="#">Business waste and environmental impact</a> </h2>
          <p class="govuk-body-s">
              Includes registering as a waste carrier, classifying waste, hazardous waste.                </p>
          </div>
      </div>
          <div class="govuk-grid-column-one-third">
              <div class="card">
              <h2 class="govuk-heading-s"><a href="#">Scientific research and development</a></h2>
              <p class="govuk-body-s">
                  Includes funding and support scheme guidance.
            </p>
            </div>
        </div>            
      </div>
   </div>
      </div>

      <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width padding-top: govuk-spacing(30);">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <div class="card">
            <h2 class="govuk-heading-s"><a href="#">Maritime vessels and work at sea</a></h2>
            <p class="govuk-body-s">
                Includes health and safety onboard, crew, registering vessels.
            </p>
          </div>
          </div>
          
            <div class="govuk-grid-column-one-third">
              <p>&nbsp;
              </p>
              </div>
          </div>            
        </div>
      </div>
    </div>            
  </div>
</div>

  
            
         

          </div>
        </div>
        </div>

  


  </div>
</div>
{% endblock %}

