{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block main %}

<!--title block-->

      <div class="big-header-block">
        
        <div class="govuk-width-container">
    
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <div class="govuk-breadcrumbs">
                  <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                      <a class="govuk-breadcrumbs__link" href="#">Home</a>
                    </li>
                  </ol>
                </div>
                <h1 class="govuk-heading-xl">Business and self-employed</h1>

                <p class="govuk-body-l">Tools and guidance for businesses
                </p>
            
                    </main>
              </div>
            </div>
    </div>
      </div>

  <!--top tacks-->
  
  <div class="body-top-tasks">    
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full-width padding-top;">

          <div class="govuk-grid-column-one-third">
            <div class="body-block">
              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="#">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                  </svg>
                  <span class="nhsuk-action-link__text">Get infomation about a company</span>
                </a>
              </div>
            </div>
          </div>

          <div class="govuk-grid-column-one-third">
            <div class="body-block">
              <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="#">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                </svg>
                <span class="nhsuk-action-link__text">Find an energy certificate</span>
              </a>
            </div>
            </div>
          </div>
      

          <div class="govuk-grid-column-one-third">
            <div class="body-block">
              <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="#">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                </svg>
                <span class="nhsuk-action-link__text">Search for a trade mark</span>
              </a>
            </div>
            </div>
          </div>
    
        </div>
      </div>
    </div>

    <!--top tacks lin 2-->

    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full-width padding-top;">

          <div class="govuk-grid-column-one-third">
            <div class="body-block">
              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="#">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                  </svg>
                  <span class="nhsuk-action-link__text">Find a buiness rates valuation</span>
                </a>
              </div>
            </div>
          </div>

          <div class="govuk-grid-column-one-third">
            <div class="body-block">
              <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="#">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                </svg>
                <span class="nhsuk-action-link__text">File your Self Assessment tax return online</span>
              </a>
            </div>
            </div>
          </div>
      
    
        </div>
      </div>
    
    </div>
  </div>
  
    
<!--Topic Cards-->

  <div class="govuk-width-container">
    <div class="body-block">
      <div class="govuk-grid-row">
            <div class="govuk-grid-column-full-width padding-top: govuk-spacing(30);">
                
                  <div class="govuk-grid-column-one-third">
                    <div class="card">
                    <h2 class="govuk-heading-s"><a href="https://www.gov.uk/browse/business/setting-up">Setting up a business</a></h2>
                    <p class="govuk-body-s">
                      Includes self-employed and starting a business.
                    </p>
                  </div>
                  </div>
                  <div class="govuk-grid-column-one-third">
                    <div class="card">
                    <h2 class="govuk-heading-s"><a href="L2-Business-tax.html">Business tax</a> </h2>
                    <p class="govuk-body-s">
                      Includes Corporation tax, Capital gains tax, Construction Industry Scheme (CIS) and VAT.
                    </p>
                    </div>
                </div>
                    <div class="govuk-grid-column-one-third">
                        <div class="card">
                        <h2 class="govuk-heading-s"><a href="https://www.gov.uk/browse/business/finance-support">Business finance and support</a></h2>
                        <p class="govuk-body-s">
                          Finding finance, business support, writing a business plan.
            
                      </p>
                      </div>
                  </div>            
             
             </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full-width padding-top: govuk-spacing(30);">
              <div class="govuk-grid-column-one-third">
                <div class="card">
                <h2 class="govuk-heading-s"><a href="https://www.gov.uk/browse/business/limited-company">Running a limited company</a></h2>
                <p class="govuk-body-s">
                    Includes registering, setting up, company accounts and tax returns.</p>
              </div>
              </div>
              <div class="govuk-grid-column-one-third">
                <div class="card">
                <h2 class="govuk-heading-s"><a href="https://www.gov.uk/browse/business/expenses-employee-benefits">Expenses and employee benefits</a> </h2>
                <p class="govuk-body-s">
                    Includes company cars and paying tax on employee benefits.                </p>
                </div>
            </div>
                <div class="govuk-grid-column-one-third">
                    <div class="card">
                    <h2 class="govuk-heading-s"><a href="https://www.gov.uk/browse/business/funding-debt">Business debt and bankruptcy</a></h2>
                    <p class="govuk-body-s">
                        Includes bankruptcy, insolvency and recovering debt.
                  </p>
                  </div>
              </div>            
         </div>
      </div>

      <div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width padding-top: govuk-spacing(30);">
        <div class="govuk-grid-column-one-third">
          <div class="card">
          <h2 class="govuk-heading-s"><a href="https://www.gov.uk/browse/business/premises-rates">Business premises and business rates</a></h2>
          <p class="govuk-body-s">
              Includes business rates, leases, renting, planning permission, waste, and energy certificates.</p>
        </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="card">
          <h2 class="govuk-heading-s"><a href="https://www.gov.uk/browse/business/food">Food, catering and retail</a> </h2>
          <p class="govuk-body-s">
              Labelling and handling food, transporting, food safety.                </p>
          </div>
      </div>
          <div class="govuk-grid-column-one-third">
              <div class="card">
              <h2 class="govuk-heading-s"><a href="https://www.gov.uk/browse/business/imports">Importing</a></h2>
              <p class="govuk-body-s">
                  HIncludes moving goods in the EU and commodity codes.
            </p>
            </div>
        </div>            
      
   </div>
      </div>

      <div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width padding-top: govuk-spacing(30);">
      
        <div class="govuk-grid-column-one-third">
          <div class="card">
          <h2 class="govuk-heading-s"><a href="https://www.gov.uk/browse/business/exports">Exporting and doing business abroad</a></h2>
          <p class="govuk-body-s">
              HIncludes moving goods in the EU and commodity codes.</p>
        </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="card">
          <h2 class="govuk-heading-s"><a href="https://www.gov.uk/browse/business/licences">Licences and licence applications</a> </h2>
          <p class="govuk-body-s">
              Applying for licences for events and businesses.                </p>
          </div>
      </div>
          <div class="govuk-grid-column-one-third">
              <div class="card">
              <h2 class="govuk-heading-s"><a href="https://www.gov.uk/browse/business/selling-closing">Selling your business and closing down</a></h2>
              <p class="govuk-body-s">
                  Stopping self-employment, winding up or liquidating a limited company.
            </p>
            </div>
        </div>            
      
   </div>
      </div>

      <div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width padding-top: govuk-spacing(30);">
        <div class="govuk-grid-column-one-third">
          <div class="card">
          <h2 class="govuk-heading-s"><a href="https://www.gov.uk/browse/business/sale-goods-services-data">Sale of goods and services and data protection</a></h2>
          <p class="govuk-body-s">
              Includes regulations for online retailers, offering credit and Trading Standards.</p>
        </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="card">
          <h2 class="govuk-heading-s"><a href="https://www.gov.uk/browse/business/childcare-providers">Childcare providers</a> </h2>
          <p class="govuk-body-s">
              Includes registering as a childcare provider.                </p>
          </div>
      </div>
          <div class="govuk-grid-column-one-third">
              <div class="card">
              <h2 class="govuk-heading-s"><a href="https://www.gov.uk/browse/business/manufacturing">Manufacturing</a></h2>
              <p class="govuk-body-s">
                  Managing waste, health and safety, regulations.
            </p>
            </div>
        </div>            
    
   </div>
      </div>

      <div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width padding-top: govuk-spacing(30);">
        <div class="govuk-grid-column-one-third">
          <div class="card">
          <h2 class="govuk-heading-s"><a href="L2-Patents.html">Patents, trade marks, copyright and designs</a></h2>
          <p class="govuk-body-s">
              Includes registering, protecting and applying for designs and patents.</p>
        </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="card">
          <h2 class="govuk-heading-s"><a href="https://www.gov.uk/browse/business/waste-environment">Business waste and environmental impact</a> </h2>
          <p class="govuk-body-s">
              Includes registering as a waste carrier, classifying waste, hazardous waste.                </p>
          </div>
      </div>
          <div class="govuk-grid-column-one-third">
              <div class="card">
              <h2 class="govuk-heading-s"><a href="https://www.gov.uk/browse/business/science">Scientific research and development</a></h2>
              <p class="govuk-body-s">
                  Includes funding and support scheme guidance.
            </p>
            </div>
        </div>            
      
   </div>
      </div>

      <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width padding-top: govuk-spacing(30);">
          <div class="govuk-grid-column-one-third">
            <div class="card">
            <h2 class="govuk-heading-s"><a href="https://www.gov.uk/browse/business/maritime">Maritime vessels and work at sea</a></h2>
            <p class="govuk-body-s">
                Includes health and safety onboard, crew, registering vessels.
            </p>
          </div>
          </div>
          
            <div class="govuk-grid-column-one-third">
              <p>&nbsp;
              </p>
              </div>          
        </div>
      </div>
    </div>            
  </div>

{% endblock %}

