{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block main %}
      <div class="big-header-block">
        
        <div class="govuk-width-container">
    
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <div class="govuk-breadcrumbs">
                  <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                      <a class="govuk-breadcrumbs__link" href="#">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                      <a class="govuk-breadcrumbs__link" href="L1-Business.html">Business and self-employed</a>
                    </li>
                  </ol>
                </div>
                <h1 class="govuk-heading-xl">Business tax</h1>

                <p class="govuk-body-l">Includes Corporation Tax, Capital Gains Tax, Construction Industry Scheme (CIS) and VAT
                </p>
            
          </main>
        </div>
      </div>
      
    
    </div>
  </div>

  
  </div>
</div>

<div class="govuk-width-container">
  <div class="body-block">

    <h2 class="govuk-heading-m">VAT
    </h2>

    <p class="govuk-body">
      {{govukTag({
        text: "Transaction",
        classes: "govuk-tag--green"
      })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Pay your VAT bill</a>
    </p>

    <p class="govuk-body">
      {{govukTag({
        text: "Transaction",
        classes: "govuk-tag--green"
      })}} <a href="#" class="govuk-link govuk-link--no-visited-state">Sign in to your VAT online account</a>
    </p>

    <p class="govuk-body">
      {{govukTag({
        text: "Transaction",
        classes: "govuk-tag--green"
      })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Pay your tax bill by debit or corporate credit card</a>
    </p>

    <p class="govuk-body">
      {{govukTag({
        text: "Transaction",
        classes: "govuk-tag--green"
      })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Pay your tax bill by Direct Debit</a>
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
   
            
  
</div>
</div>

<div class="govuk-width-container">
  <div class="body-block">

    <h2 class="govuk-heading-m">Company Tax returns
    </h2>

    <p class="govuk-body">
      {{govukTag({
        text: "Guide",
        classes: "govuk-tag--grey"
      })}} <a href="#" class="govuk-link govuk-link--no-visited-state">Company Tax Returns</a>
    </p>
    <p class="govuk-body">
      {{govukTag({
        text: "Transaction",
        classes: "govuk-tag--green"
      })}} <a href="#" class="govuk-link govuk-link--no-visited-state">File your accounts and Company Tax Return</a>
    </p>
    <p class="govuk-body">
      {{govukTag({
        text: "Guide",
        classes: "govuk-tag--grey"
      })}} <a href="#" class="govuk-link govuk-link--no-visited-state">Accounts and tax returns for private limited companies</a>
    </p>
    <p class="govuk-body">
      {{govukTag({
        text: "Guide",
        classes: "govuk-tag--grey"
      })}} <a href="#" class="govuk-link govuk-link--no-visited-state">Your limited company's first accounts and Company Tax Return</a>
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
   
            
  
</div>
</div>

<div class="govuk-width-container">
  <div class="body-block">

    <h2 class="govuk-heading-m">Construction Industry Scheme (CIS)
     
    </h2>

    <p class="govuk-body">
      {{govukTag({
        text: "Guide",
        classes: "govuk-tag--grey"
      })}} <a href="#" class="govuk-link govuk-link--no-visited-state">Construction Industry Scheme (CIS)</a>
    </p>
    <p class="govuk-body">
      {{govukTag({
        text: "Transaction",
        classes: "govuk-tag--green"
      })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Sign in to the Construction Industry Scheme (CIS) online service</a>
    </p>
    <p class="govuk-body">
      {{govukTag({
        text: "Guide",
        classes: "govuk-tag--grey"
      })}}<a href="#" class="govuk-link govuk-link--no-visited-state">What you must do as a Construction Industry Scheme (CIS) contractor</a>
    </p>
    <p class="govuk-body">
      {{govukTag({
        text: "Guide",
        classes: "govuk-tag--grey"
      })}}<a href="#" class="govuk-link govuk-link--no-visited-state">What you must do as a Construction Industry Scheme (CIS) subcontractor</a>
    </p>
    <p class="govuk-body">
      {{govukTag({
        text: "Guide",
        classes: "govuk-tag--grey"
      })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Construction Industry Scheme: CIS 340</a>
    </p>
    <p class="govuk-body">
      {{govukTag({
        text: "Transaction",
        classes: "govuk-tag--green"
      })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Pay a Construction Industry Scheme (CIS) late filing penalty</a>
    </p>
    <p class="govuk-body">
      {{govukTag({
        text: "Transaction",
        classes: "govuk-tag--green"
      })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Claim a refund of Construction Industry Scheme deductions if you're a limited company or an agent</a>
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            
  
</div>
</div>

<div class="govuk-width-container">
  <div class="body-block">

    <h2 class="govuk-heading-m">Corporation Tax
     
    </h2>

    <p class="govuk-body">
      {{govukTag({
        text: "Transaction",
        classes: "govuk-tag--green"
      })}} <a href="#" class="govuk-link govuk-link--no-visited-state">Pay your Corporation Tax bill</a>
    </p>

    <p class="govuk-body">
      {{govukTag({
        text: "Guide",
        classes: "govuk-tag--grey"
      })}} <a href="#" class="govuk-link govuk-link--no-visited-state">Corporation Tax</a>
    </p>
    <p class="govuk-body">
      {{govukTag({
        text: "Guide",
        classes: "govuk-tag--grey"
      })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Corporation Tax rates and reliefs</a>
    </p>
    <p class="govuk-body">
      {{govukTag({
        text: "Transaction",
        classes: "govuk-tag--green"
      })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Tell HMRC your company is dormant for Corporation Tax</a>
    </p>
    <p class="govuk-body">
      {{govukTag({
        text: "Guide",
        classes: "govuk-tag--grey"
      })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Accounting periods for Corporation Tax</a>
    </p>
    <p class="govuk-body">
      {{govukTag({
        text: "Guide",
        classes: "govuk-tag--grey"
      })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Corporation Tax when you sell business assets</a>
    </p>
    <p class="govuk-body">
      {{govukTag({
        text: "Guide",
        classes: "govuk-tag--grey"
      })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Get a refund or interest on your Corporation Tax</a>
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            
  
</div>
</div>

<div class="govuk-width-container">
  <div class="body-block">

    <h2 class="govuk-heading-m">Capital allowances
     
    </h2>

    <p class="govuk-body">
      {{govukTag({
        text: "Guide",
        classes: "govuk-tag--grey"
      })}} <a href="#" class="govuk-link govuk-link--no-visited-state">Claim capital allowances</a>
    </p>
    <p class="govuk-body">
      {{govukTag({
        text: "Guide",
        classes: "govuk-tag--grey"
      })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Work out your writing down allowances</a>
    </p>
    <p class="govuk-body">
      {{govukTag({
        text: "Guide",
        classes: "govuk-tag--grey"
      })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Capital allowances when you sell an asset</a>
    </p>
    
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">   
  
</div>
</div>

<div class="govuk-width-container">
  <div class="body-block">

    <h2 class="govuk-heading-m">Expenses
     
    </h2>

    <p class="govuk-body">
      {{govukTag({
        text: "Guide",
        classes: "govuk-tag--grey"
      })}} <a href="#" class="govuk-link govuk-link--no-visited-state">Cash basis</a>
    </p>
    <p class="govuk-body">
      {{govukTag({
        text: "Guide",
        classes: "govuk-tag--grey"
      })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Expenses if you're self-employed</a>
    </p>
    <p class="govuk-body">
      {{govukTag({
        text: "Guide",
        classes: "govuk-tag--grey"
      })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Simplified expenses if you're self-employed</a>
    </p>
    <p class="govuk-body">
      {{govukTag({
        text: "Guide",
        classes: "govuk-tag--grey"
      })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Expenses and benefits: A to Z</a>
    </p>
    
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">     
  
</div>
</div>

<div class="govuk-width-container">
  <div class="body-block">

    <h2 class="govuk-heading-m">Changes to your business
     
    </h2>

    <p class="govuk-body">
      {{govukTag({
        text: "transaction",
        classes: "govuk-tag--green"
      })}} <a href="#" class="govuk-link govuk-link--no-visited-state">Tell HMRC about a change to your business</a>
    </p>  

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  
</div>
</div>

<div class="govuk-width-container">
  <div class="body-block">

    <h2 class="govuk-heading-m">Selling business assets
     
    </h2>

    <p class="govuk-body">
      {{govukTag({
        text: "Guide",
        classes: "govuk-tag--grey"
      })}} <a href="#" class="govuk-link govuk-link--no-visited-state">Capital Gains Tax for business</a>
    </p>  

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  
</div>
</div>

<div class="govuk-width-container">
  <div class="body-block">

    <h2 class="govuk-heading-m">Buying shares
     
    </h2>

    <p class="govuk-body">
      {{govukTag({
        text: "Guide",
        classes: "govuk-tag--grey"
      })}} <a href="#" class="govuk-link govuk-link--no-visited-state">Tax when you buy shares</a>
    </p>  

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  
</div>
</div>

<div class="govuk-width-container">
  <div class="body-block">

    <h2 class="govuk-heading-m">Dormant companies
     
    </h2>

    <p class="govuk-body">
      {{govukTag({
        text: "Guide",
        classes: "govuk-tag--grey"
      })}} <a href="#" class="govuk-link govuk-link--no-visited-state">Dormant companies and associations</a>
    </p>  

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  
</div>
</div>

<div class="govuk-width-container">
  <div class="body-block">

    <h2 class="govuk-heading-m">Tax compliance checks
     
    </h2>

    <p class="govuk-body">
      {{govukTag({
        text: "Guide",
        classes: "govuk-tag--grey"
      })}} <a href="#" class="govuk-link govuk-link--no-visited-state">Tax compliance checks</a>
    </p> 
    
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  
</div>
</div>

<div class="govuk-width-container">
  <div class="body-block">

    <h2 class="govuk-heading-m">Charities and tax
     
    </h2>

    <p class="govuk-body">
      {{govukTag({
        text: "Guide",
        classes: "govuk-tag--grey"
      })}} <a href="#" class="govuk-link govuk-link--no-visited-state">Charities and tax</a>
    </p>  
    <p class="govuk-body">
      {{govukTag({
        text: "Guide",
        classes: "govuk-tag--grey"
      })}} <a href="#" class="govuk-link govuk-link--no-visited-state">Tax when your limited company gives to charity</a>
    </p>  

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  
</div>
</div>

<div class="govuk-width-container">
  <div class="body-block">

    <h2 class="govuk-heading-m">Other taxes
     
    </h2>

    <p class="govuk-body">
      {{govukTag({
        text: "transaction",
        classes: "govuk-tag--green"
      })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Pay Machine Games Duty</a>
    </p>

    <p class="govuk-body">
      {{govukTag({
        text: "Guide",
        classes: "govuk-tag--grey"
      })}} <a href="#" class="govuk-link govuk-link--no-visited-state">Machine Games Duty</a>
    </p>  
    <p class="govuk-body">
      {{govukTag({
        text: "transaction",
        classes: "govuk-tag--green"
      })}} <a href="#" class="govuk-link govuk-link--no-visited-state">Register for gambling tax</a>
    </p>  

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  
</div>
</div>

<div class="govuk-width-container">
  <div class="body-block">

    <h2 class="govuk-heading-m">Appeals
     
    </h2>

    <p class="govuk-body">
      {{govukTag({
        text: "transaction",
        classes: "govuk-tag--green"
      })}} <a href="#" class="govuk-link govuk-link--no-visited-state">Appeal to the tax tribunal</a>
    </p> 
    
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  
</div>
</div>
{% endblock %}

