{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block main %}
      <div class="big-header-block">
        
        <div class="govuk-width-container">
    
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body white-link"><a href="#">Home</a></p>
                <h1 class="govuk-heading-xl">Business and self-employed</h1>

                <p class=""govuk-body-l">Includes eligibility, appeals, tax credits and Universal Credit
                </p>
            
          </main>
        </div>
      </div>
      
    
    </div>
  </div>

  

  </div>

    


  <div class="govuk-width-container">

  
    <div class="body-block">

      <h2 class="govuk-heading-m">Top Topics
       
    </h2>

      <h2 class="govuk-heading-s"><a href="#">Setting up a business</a></h2>
              
    
  </div>
</div>
{% endblock %}

