{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block main %}
      <div class="big-header-block">
        
        <div class="govuk-width-container">
    
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <div class="govuk-breadcrumbs">
                  <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                      <a class="govuk-breadcrumbs__link" href="#">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                      <a class="govuk-breadcrumbs__link" href="L1-Business.html">Business and self-employed</a>
                    </li>
                  </ol>
                </div>
                <h1 class="govuk-heading-xl">Patents, trade marks, copyright and designs</h1>

                <p class="govuk-body-l">Includes registering, protecting and applying for designs and patents
                </p>
            
          </main>
        </div>
      </div>
      
    
    </div>
  </div>

  


  <div class="govuk-width-container">
    <div class="body-block">

      <h2 class="govuk-heading-m">A to Z
      </h2>

      <p class="govuk-body">
        {{govukTag({
          text: "Transaction",
          classes: "govuk-tag--green"
        })}} <a href="#" class="govuk-link govuk-link--no-visited-state">Apply for a patentl</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Transaction",
          classes: "govuk-tag--green"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Change or update your patent</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Transaction",
          classes: "govuk-tag--green"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Check the designs journal</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Transaction",
          classes: "govuk-tag--green"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Check the patents journal</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Transaction",
          classes: "govuk-tag--green"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Check the trade marks journal</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Guide",
          classes: "govuk-tag--grey"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Defend your intellectual property</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Transaction",
          classes: "govuk-tag--green"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">File documents for a pending UK patent</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Transaction",
          classes: "govuk-tag--green"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Find a registered design</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Guide",
          classes: "govuk-tag--grey"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Find out if you need a licence to copy a creative work</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Transaction",
          classes: "govuk-tag--green"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Get a licence to play live or recorded music</a>
      </p>

      <p class="govuk-body">
        {{govukTag({
          text: "Transaction",
          classes: "govuk-tag--green"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Get an uncertified electronic copy of your patent</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Transaction",
          classes: "govuk-tag--green"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Get copies of patent, trade mark or design documents</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Transaction",
          classes: "govuk-tag--green"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Give notice of your intention to oppose a trade mark</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Guide",
          classes: "govuk-tag--grey"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">How copyright protects your work</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Guide",
          classes: "govuk-tag--grey"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">How your unregistered designs are protected</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Guide",
          classes: "govuk-tag--grey"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Intellectual property and your work</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Transaction",
          classes: "govuk-tag--green"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Register a design</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Transaction",
          classes: "govuk-tag--green"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Register a trade mark</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Guide",
          classes: "govuk-tag--grey"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Renew a patent</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Transaction",
          classes: "govuk-tag--green"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Renew a patent, trade mark or registered design</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Guide",
          classes: "govuk-tag--grey"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Renew your registered design</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Guide",
          classes: "govuk-tag--grey"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Renew your trade mark</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Transaction",
          classes: "govuk-tag--green"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Request UK processing of an international patent application</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Guide",
          classes: "govuk-tag--grey"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Search for a patent</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Guide",
          classes: "govuk-tag--grey"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Search for a trade mark</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Transaction",
          classes: "govuk-tag--green"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Search patent decisions</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Transaction",
          classes: "govuk-tag--green"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Search trade mark decisions</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Transaction",
          classes: "govuk-tag--green"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Track a trade mark</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Transaction",
          classes: "govuk-tag--green"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Update or cancel your registered designs</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Transaction",
          classes: "govuk-tag--green"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Update or surrender your registered trade marks</a>
      </p>
      <p class="govuk-body">
        {{govukTag({
          text: "Guide",
          classes: "govuk-tag--grey"
        })}}<a href="#" class="govuk-link govuk-link--no-visited-state">Using somebody else's intellectual property</a>
      </p>         
    
  </div>
</div>
{% endblock %}

