{% extends "layouts/main.html" %}

{% set pageName="Patents, trade marks, copyright and designs" %}

{% block main %}
      <div class="big-header-block">
        
        <div class="govuk-width-container">
    
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <div class="govuk-breadcrumbs">
                  <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                      <a class="govuk-breadcrumbs__link" href="#">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                      <a class="govuk-breadcrumbs__link" href="L1-Business.html">Business and self-employed</a>
                    </li>
                  </ol>
                </div>
                <h1 class="govuk-heading-xl">Patents, trade marks, copyright and designs</h1>

                <p class="govuk-body-l">Includes registering, protecting and applying for designs and patents
                </p>
            
          </main>
        </div>
      </div>
      
    
    </div>
  </div>

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-width-container">
            <div class="body-block">
        
              <h2 class="govuk-heading-m govuk-!-padding-bottom-6">A to Z
              </h2>


              <div class="container govuk-!-padding-bottom-3">
                <div class="tab-tran2">
                </div>
                <div class="tab-tran">
                  {{govukTag({
                    text: "Task",
                    classes: "govuk-tag--grey"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/patent-your-invention" class="govuk-link govuk-link--no-visited-state">Apply for a patent</a>
                </div>
              </div>
              
              <div class="container govuk-!-padding-bottom-3">
                <div class="tab-tran2">
                </div>
                <div class="tab-tran">
                  {{govukTag({
                    text: "Task",
                    classes: "govuk-tag--grey"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/change-or-update-your-patent" class="govuk-link govuk-link--no-visited-state">Change or update your patent</a>
                </div>
              </div>


              <div class="container govuk-!-padding-bottom-3">
                <div class="tab-tran2">
                </div>
                <div class="tab-tran">
                  {{govukTag({
                    text: "Task",
                    classes: "govuk-tag--grey"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/check-the-design-journal" class="govuk-link govuk-link--no-visited-state">Check the designs journal</a>
                </div>
              </div>


              <div class="container govuk-!-padding-bottom-3">
                <div class="tab-tran2">
                </div>
                <div class="tab-tran">
                  {{govukTag({
                    text: "Task",
                    classes: "govuk-tag--grey"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/check-the-patents-journal" class="govuk-link govuk-link--no-visited-state">Check the patents journal</a>
                </div>
              </div>

              <div class="container govuk-!-padding-bottom-3">
                <div class="tab-tran2">
                </div>
                <div class="tab-tran">
                  {{govukTag({
                    text: "Task",
                    classes: "govuk-tag--grey"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/check-trade-marks-journal" class="govuk-link govuk-link--no-visited-state">Check the trade marks journal</a>
                </div>
              </div>


              <div class="tab-block govuk-!-padding-bottom-3">
                <div class="tab-tran">
                  {{govukTag({
                    text: "Guidance",
                    classes: "govuk-tag--green"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/defend-your-intellectual-property" class="govuk-link govuk-link--no-visited-state">Defend your intellectual property</a>
                </div>
              </div>



              <div class="container govuk-!-padding-bottom-3">
                <div class="tab-tran2">
                </div>
                <div class="tab-tran">
                  {{govukTag({
                    text: "Task",
                    classes: "govuk-tag--grey"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/file-documents-pending-patent" class="govuk-link govuk-link--no-visited-state">File documents for a pending UK patent</a>
                </div>
              </div>


              <div class="container govuk-!-padding-bottom-3">
                <div class="tab-tran2">
                </div>
                <div class="tab-tran">
                  {{govukTag({
                    text: "Task",
                    classes: "govuk-tag--grey"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/search-registered-design" class="govuk-link govuk-link--no-visited-state">Find a registered design</a>
                </div>
              </div>


              <div class="tab-block govuk-!-padding-bottom-3">
                <div class="tab-tran">
                  {{govukTag({
                    text: "Guidance",
                    classes: "govuk-tag--green"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/creative-works-licence" class="govuk-link govuk-link--no-visited-state">Find out if you need a licence to copy a creative work</a>
                </div>
              </div>


              <div class="container govuk-!-padding-bottom-3">
                <div class="tab-tran2">
                </div>
                <div class="tab-tran">
                  {{govukTag({
                    text: "Task",
                    classes: "govuk-tag--grey"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/licence-to-play-live-or-recorded-music" class="govuk-link govuk-link--no-visited-state">Get a licence to play live or recorded music</a>
                </div>
              </div>
            

              <div class="container govuk-!-padding-bottom-3">
                <div class="tab-tran2">
                </div>
                <div class="tab-tran">
                  {{govukTag({
                    text: "Task",
                    classes: "govuk-tag--grey"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/get-uncertified-electronic-copy-patent" class="govuk-link govuk-link--no-visited-state">Get an uncertified electronic copy of your patent</a>
                </div>
              </div>


              <div class="container govuk-!-padding-bottom-3">
                <div class="tab-tran2">
                </div>
                <div class="tab-tran">
                  {{govukTag({
                    text: "Task",
                    classes: "govuk-tag--grey"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/get-copies-of-intellectual-property-documents" class="govuk-link govuk-link--no-visited-state">Get copies of patent, trade mark or design documents</a>
                </div>
              </div>


              <div class="container govuk-!-padding-bottom-3">
                <div class="tab-tran2">
                </div>
                <div class="tab-tran">
                  {{govukTag({
                    text: "Task",
                    classes: "govuk-tag--grey"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/notice-to-oppose-trademark" class="govuk-link govuk-link--no-visited-state">Give notice of your intention to oppose a trade mark</a>
                </div>
              </div>

              <div class="tab-block govuk-!-padding-bottom-3">
                <div class="tab-tran">
                  {{govukTag({
                    text: "Guidance",
                    classes: "govuk-tag--green"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/copyright" class="govuk-link govuk-link--no-visited-state">How copyright protects your work</a>
                </div>
              </div>

              <div class="tab-block govuk-!-padding-bottom-3">
                <div class="tab-tran">
                  {{govukTag({
                    text: "Guidance",
                    classes: "govuk-tag--green"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/unregistered-designs" class="govuk-link govuk-link--no-visited-state">How your unregistered designs are protected</a>
                </div>
              </div>


              <div class="tab-block govuk-!-padding-bottom-3">
                <div class="tab-tran">
                  {{govukTag({
                    text: "Guidance",
                    classes: "govuk-tag--green"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/intellectual-property-an-overview" class="govuk-link govuk-link--no-visited-state">Intellectual property and your work</a>
                </div>
              </div>


              <div class="container govuk-!-padding-bottom-3">
                <div class="tab-tran2">
                </div>
                <div class="tab-tran">
                  {{govukTag({
                    text: "Task",
                    classes: "govuk-tag--grey"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/register-a-design" class="govuk-link govuk-link--no-visited-state">Register a design</a>
                </div>
              </div>


              <div class="container govuk-!-padding-bottom-3">
                <div class="tab-tran2">
                </div>
                <div class="tab-tran">
                  {{govukTag({
                    text: "Task",
                    classes: "govuk-tag--grey"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/how-to-register-a-trade-mark" class="govuk-link govuk-link--no-visited-state">Register a trade mark</a>
                </div>
              </div>


              <div class="tab-block govuk-!-padding-bottom-3">
                <div class="tab-tran">
                  {{govukTag({
                    text: "Guidance",
                    classes: "govuk-tag--green"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/renew-patent" class="govuk-link govuk-link--no-visited-state">Renew a patent</a>
                </div>
              </div>


              <div class="container govuk-!-padding-bottom-3">
                <div class="tab-tran2">
                </div>
                <div class="tab-tran">
                  {{govukTag({
                    text: "Task",
                    classes: "govuk-tag--grey"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/renew-patent-trademark-registered-design" class="govuk-link govuk-link--no-visited-state">Renew a patent, trade mark or registered design</a>
                </div>
              </div>

              <div class="tab-block govuk-!-padding-bottom-3">
                <div class="tab-tran">
                  {{govukTag({
                    text: "Guidance",
                    classes: "govuk-tag--green"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/renew-registered-design" class="govuk-link govuk-link--no-visited-state">Renew your registered design</a>
                </div>
              </div>



              <div class="tab-block govuk-!-padding-bottom-3">
                <div class="tab-tran">
                  {{govukTag({
                    text: "Guidance",
                    classes: "govuk-tag--green"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/renew-your-trade-mark" class="govuk-link govuk-link--no-visited-state">Renew your trade mark</a>
                </div>
              </div>


              <div class="container govuk-!-padding-bottom-3">
                <div class="tab-tran2">
                </div>
                <div class="tab-tran">
                  {{govukTag({
                    text: "Task",
                    classes: "govuk-tag--grey"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/request-uk-processing-of-international-patent-application" class="govuk-link govuk-link--no-visited-state">Request UK processing of an international patent application</a>
                </div>
              </div>


              <div class="tab-block govuk-!-padding-bottom-3">
                <div class="tab-tran">
                  {{govukTag({
                    text: "Guidance",
                    classes: "govuk-tag--green"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/search-for-patent" class="govuk-link govuk-link--no-visited-state">Search for a patent</a>
                </div>
              </div>


              <div class="tab-block govuk-!-padding-bottom-3">
                <div class="tab-tran">
                  {{govukTag({
                    text: "Guidance",
                    classes: "govuk-tag--green"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/search-for-trademark" class="govuk-link govuk-link--no-visited-state">Search for a trade mark</a>
                </div>
              </div>


              <div class="container govuk-!-padding-bottom-3">
                <div class="tab-tran2">
                </div>
                <div class="tab-tran">
                  {{govukTag({
                    text: "Task",
                    classes: "govuk-tag--grey"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/search-patent-decisions" class="govuk-link govuk-link--no-visited-state">Search patent decisions</a>
                </div>
              </div>


              <div class="container govuk-!-padding-bottom-3">
                <div class="tab-tran2">
                </div>
                <div class="tab-tran">
                  {{govukTag({
                    text: "Task",
                    classes: "govuk-tag--grey"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/search-trade-mark-decisions" class="govuk-link govuk-link--no-visited-state">Search trade mark decisions</a>
                </div>
              </div>


              <div class="container govuk-!-padding-bottom-3">
                <div class="tab-tran2">
                </div>
                <div class="tab-tran">
                  {{govukTag({
                    text: "Task",
                    classes: "govuk-tag--grey"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/track-a-trade-mark" class="govuk-link govuk-link--no-visited-state">Track a trade mark</a>
                </div>
              </div>


              <div class="container govuk-!-padding-bottom-3">
                <div class="tab-tran2">
                </div>
                <div class="tab-tran">
                  {{govukTag({
                    text: "Task",
                    classes: "govuk-tag--grey"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/update-or-cancel-your-registered-design" class="govuk-link govuk-link--no-visited-state">Update or cancel your registered designs</a>
                </div>
              </div>


              <div class="container govuk-!-padding-bottom-3">
                <div class="tab-tran2">
                </div>
                <div class="tab-tran">
                  {{govukTag({
                    text: "Task",
                    classes: "govuk-tag--grey"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/update-or-surrender-trade-marks" class="govuk-link govuk-link--no-visited-state">Update or surrender your registered trade marks</a>
                </div>
              </div>

              
              <div class="tab-block govuk-!-padding-bottom-3">
                <div class="tab-tran">
                  {{govukTag({
                    text: "Guidance",
                    classes: "govuk-tag--green"
                  })}}
                </div>
                <div class="tab-text">
                  <a href="https://www.gov.uk/using-somebody-elses-intellectual-property" class="govuk-link govuk-link--no-visited-state">Using somebody else's intellectual property</a>
                </div>
              </div>
            
          </div>
        </div>
        </div>
      </div>
    </main>
  </div>


 
{% endblock %}

